include ./page.pug

-
	const pages = [
		"index",
		"collection/arr",
		"compare",
	]
	const title = id =>
		({
			index: "Documentation",
			"collection/arr": "Array",
			"compare": "Comparison",
		})[id]

mixin documentationPage(id)
	+anyPage(title(id))
		div(id="side-nav-wrapper")
			nav
				ul
					li: a(href="/documentation/") index
					li: a(href="/documentation/collection/arr.html") collection.arr
					li: a(href="/documentation/compare.html") compare
			main
				block

mixin typeParams(typeParams)
	- if (typeParams.length !== 0)
		ul.typeParams
			each typeParam in typeParams
				li=typeParam

// TODO: specs
mixin function(name, typeParams, returnType, params)
	section.function
		h4
			div
				span.fun-def=name
				+typeParams(typeParams)
				= " "
				span.struct-ref= returnType
				|(
				ul.params
					- for (let i = 0; i < params.length; i++)
						li
							span.param-def=params[i][0]
							= " "
							span.struct-ref=params[i][1]
						if (i !== params.length - 1)
							= ", "
				|)
		block

mixin alias(name, typeParams, type)
	section.alias
		h4
			div
				span.struct-def=name
				+typeParams(typeParams)
				=" alias "
				=type
		block

mixin builtinType(name, typeParams)
	section.builtin
		h4
			div
				span.struct-def=name
				+typeParams(typeParams)
				=" builtin"
		block

mixin externPtrType(name, typeParams)
	section.extern-ptr
		h4
			div
				span.struct-def=name
				+typeParams(typeParams)
				=" extern-ptr"
		block

mixin record(name, typeParams, fields)
	section.record
		h4
			div
				span.struct-def=name
				+typeParams(typeParams)
				= " record"
				ul.fields
					each field in fields
						li
							span.fun-def=field[0]
							= " "
							span.struct-ref=field[1]
							if (field.length === 3)
								= " "
								span.keyword=field[2]
		block

mixin union(name, typeParams, members)
	section.union
		h4
			div
				span.struct-def=name
				+typeParams(typeParams)
				= " union"
				ul.members
					each member in members
						li
							span.struct-ref=member
		block

mixin spec(name, typeParams, sigs_)
	// TODO: use sigs
	section.spec
		h4
			div
				span.spec-def=name
				+typeParams(typeParams)
				= " spec"
		block