include ./page.pug

-
	const pages = [
		"index",
		"bits",
		"bool",
		"cell",
		"col/arr",
		"col/arr-util",
		"col/dict",
		"col/mut-arr",
		"col/mut-dict",
		"col/mut-list",
		"col/mut-set",
		"col/set",
		"col/sort",
		"compare",
		"exception",
		"fun",
		"fut",
		"io/environ",
		"io/file",
		"io/net/http-server",
		"io/net/net",
		"io/net/tcp-server",
		"io/print",
		"io/process",
		"io/time",
		"iter",
		"log",
		"math/vec",
		"misc",
		"number",
		"opt",
		"parse-command",
		"path",
		"ptr",
		"result",
		"str",
		"str-conv",
		"str-utils",
	]
	const title = id => id

mixin documentationPage(id)
	+anyPage(title(id))
		div#side-nav-wrapper.documentation
			nav
				ul
					each page in pages
						li: a(href="/documentation/" + page + ".html")= page.replace(/\//g, '.')
			main
				block

mixin typeParams(typeParams)
	- if (typeParams.length !== 0)
		|<
		ul.typeParams
			- for (let i = 0; i < typeParams.length; i++)
				li.tparam-def= typeParams[i]
				if (i !== typeParams.length - 1)
					= ", "
		|>

// TODO: specs
mixin function(name, typeParams, returnType, params)
	section.doc.function
		h4
			div
				span.fun-def=name
				+typeParams(typeParams)
				= " "
				span.struct-ref= returnType
				|(
				ul.params
					- for (let i = 0; i < params.length; i++)
						li
							span.param-def=params[i][0]
							= " "
							span.struct-ref=params[i][1]
						if (i !== params.length - 1)
							= ", "
				|)
		block

mixin alias(name, typeParams, type)
	section.doc.alias
		h4
			div
				span.struct-def=name
				+typeParams(typeParams)
				=" alias "
				=type
		block

mixin builtinType(name, typeParams)
	section.doc.builtin
		h4
			div
				span.struct-def=name
				+typeParams(typeParams)
				=" builtin"
		block

mixin externPtrType(name, typeParams)
	section.doc.extern-ptr
		h4
			div
				span.struct-def=name
				+typeParams(typeParams)
				=" extern-ptr"
		block

mixin record(name, typeParams, fields)
	section.doc.record
		h4
			div
				span.struct-def=name
				+typeParams(typeParams)
				= " record"
				ul.fields
					each field in fields
						li
							span.fun-def=field[0]
							= " "
							span.struct-ref=field[1]
							if (field.length === 3)
								= " "
								span.keyword=field[2]
		block

mixin union(name, typeParams, members)
	section.doc.union
		h4
			div
				span.struct-def=name
				+typeParams(typeParams)
				= " union"
				ul.members
					each member in members
						li
							span.struct-ref=member
		block

mixin spec(name, typeParams, sigs_)
	// TODO: use sigs
	section.doc.spec
		h4
			div
				span.spec-def=name
				+typeParams(typeParams)
				= " spec"
		block