include ./page.pug

-
	const pages = [
		"index",
		"crow/bits",
		"crow/bool",
		"crow/cell",
		"crow/col/arr",
		"crow/col/arr-util",
		"crow/col/deque",
		"crow/col/dict",
		"crow/col/list",
		"crow/col/lookup",
		"crow/col/mut-arr",
		"crow/col/mut-deque",
		"crow/col/mut-dict",
		"crow/col/mut-grid",
		"crow/col/mut-list",
		"crow/col/mut-lookup",
		"crow/col/mut-priority-queue",
		"crow/col/mut-set",
		"crow/col/mut-stack",
		"crow/col/priority-queue",
		"crow/col/queue",
		"crow/col/set",
		"crow/col/sort",
		"crow/col/stack",
		"crow/col/unordered-set",
		"crow/bits",
		"crow/bool",
		"crow/cell",
		"crow/compare",
		"crow/c-types",
		"crow/exception",
		"crow/fun",
		"crow/fut",
		"crow/io/environ",
		"crow/io/file",
		"crow/io/net/http-server",
		"crow/io/net/net",
		"crow/io/net/tcp-server",
		"crow/io/path",
		"crow/io/print",
		"crow/io/process",
		"crow/io/time",
		"crow/iter",
		"crow/json",
		"crow/log",
		"crow/math/vec",
		"crow/misc",
		"crow/number",
		"crow/openssl",
		"crow/opt",
		"crow/parse-command",
		"crow/perf",
		"crow/ptr",
		"crow/reader",
		"crow/result",
		"crow/serialize",
		"crow/str",
		"crow/str-conv",
		"crow/str-util",
		"crow/test/test",
		"crow/test/test-runner",
		"crow/tuple",
		"crow/writer",
	]
	const title = id => id

mixin documentationPage(id)
	+anyPage(title(id))
		div#side-nav-wrapper.documentation
			nav
				ul
					each page in pages
						li: a(href="/documentation/" + page + ".html")= page.replace(/\//g, '.')
			main
				block

mixin typeParams(typeParams)
	- if (typeParams.length !== 0)
		|<
		ul.typeParams
			- for (let i = 0; i < typeParams.length; i++)
				li.tparam-def= typeParams[i]
				if (i !== typeParams.length - 1)
					= ", "
		|>

// TODO: specs
mixin function(name, typeParams, returnType, params)
	section.doc.function
		h4
			div
				span.fun-def=name
				+typeParams(typeParams)
				= " "
				span.struct-ref= returnType
				|(
				ul.params
					- for (let i = 0; i < params.length; i++)
						li
							span.param-def=params[i][0]
							= " "
							span.struct-ref=params[i][1]
						if (i !== params.length - 1)
							= ", "
				|)
		block

mixin alias(name, typeParams, type)
	section.doc.alias
		h4
			div
				span.struct-def=name
				+typeParams(typeParams)
				=" alias "
				=type
		block

mixin builtinType(name, typeParams)
	section.doc.builtin
		h4
			div
				span.struct-def=name
				+typeParams(typeParams)
				=" builtin"
		block

mixin externPtrType(name, typeParams)
	section.doc.extern-ptr
		h4
			div
				span.struct-def=name
				+typeParams(typeParams)
				=" extern-ptr"
		block

mixin enum(name, members)
	section.doc.enum
		h4
			div
				span.struct-def=name
				= " enum"
				ul.members
					each member in members
						li
							span=member

mixin record(name, typeParams, fields)
	section.doc.record
		h4
			div
				span.struct-def=name
				+typeParams(typeParams)
				= " record"
				ul.fields
					each field in fields
						li
							span.fun-def=field[0]
							= " "
							span.struct-ref=field[1]
							if (field.length === 3)
								= " "
								span.keyword=field[2]
		block

mixin union(name, typeParams, members)
	section.doc.union
		h4
			div
				span.struct-def=name
				+typeParams(typeParams)
				= " union"
				ul.members
					each member in members
						li
							span.struct-ref=member
		block

mixin spec(name, typeParams, sigs_)
	// TODO: use sigs
	section.doc.spec
		h4
			div
				span.spec-def=name
				+typeParams(typeParams)
				= " spec"
		block